<!--
  Generated template for the AddtestpitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title (click)='showPageModal(horizon)'>Origin</ion-title>
  
        <ion-buttons right>
                <button (click)=NavHorizons(horizon) ion-button icon-end>
        Horizons
        <ion-icon style='font-size: 1.8em' color="secondary" name="arrow-backward"></ion-icon>
      </button>
      <button (click)=gotoNextPage(horizon) ion-button icon-end>
        Next
        <ion-icon style='font-size: 1.8em' color="secondary" name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>
<!--reset all forms after filter change-->
<!-- Add origin to horizon descriptor -->
<ion-content padding>
<form [formGroup]="todo" (ngSubmit)="postDataLine()">
  <ion-list>
  <ion-item-sliding (ionSwipe)="DeleteElement('PrimaryOrigin')">
	<ion-item>
	  <ion-label>Class</ion-label>
	  <ion-select #C (ionChange)="FilterType(C.value)" [(ngModel)]="PrimaryOrigin" formControlName="PrimaryOrigin" interface="popover">
	    <ion-option *ngFor="let value of OriginOptions" [value]="value.id" selected="value.id == PrimaryOrigin">{{value.OriginName}}</ion-option>
	  </ion-select>
	</ion-item>
      <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('PrimaryOrigin')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

  <ion-item-sliding (ionSwipe)="DeleteElement('PrimaryOriginTyoe')">
	<ion-item>
	  <ion-label>Origin Category 1</ion-label>
	  <ion-select #D (ionChange)="FilterChar(D.value)" [(ngModel)]="PrimaryOriginTyoe" formControlName="PrimaryOriginTyoe" interface="popover">
	    <ion-option *ngFor="let value of OriginTypeOptions" [value]="value.id" selected="value.id == PrimaryOriginTyoe">{{value.OriginTypeName}}</ion-option>
	  </ion-select>
	</ion-item>
      <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('PrimaryOriginTyoe')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

  <ion-item-sliding (ionSwipe)="DeleteElement('PrimaryOriginCharacter')">
	<ion-item>
	  <ion-label>Origin Category 2</ion-label>
	  <ion-select [(ngModel)]="PrimaryOriginCharacter" formControlName="PrimaryOriginCharacter" interface="popover" interface="popover">
	    <ion-option *ngFor="let value of OriginCharacterOptions" [value]="value.id" selected="value.id == PrimaryOriginCharacter">{{value.OriginCharacterName}}</ion-option>
	  </ion-select>
	</ion-item>
      <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('PrimaryOriginCharacter')">Delete</button>
  </ion-item-options>
</ion-item-sliding>


  <ion-item>
    <ion-label>Reworked</ion-label>
    <ion-toggle checked={{OriginReworked}} [(ngModel)]="OriginReworked" formControlName="OriginReworked" ></ion-toggle>
  </ion-item>

     <ion-item>
      <ion-label>OriginNote</ion-label>
      <ion-input value={{OriginNote}} [max]=5 type="text" formControlName="OriginNote"></ion-input>
    </ion-item>
</ion-list>
    <button ion-button type="submit" >Submit</button>
  </form>
</ion-content>