<!--
  Generated template for the AddtestpitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title (click)='showPageModal(horizon)'>Colour</ion-title>
  
        <ion-buttons right>
      <button (click)=gotoNextPage(horizon) ion-button icon-end>
        Next
        <ion-icon style='font-size: 1.8em' color="secondary" name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar>
</ion-header>

<!-- Add origin to horizon descriptor -->
<ion-content padding>
<form [formGroup]="todo">
  <ion-list>
<ion-list-header>
Colour
</ion-list-header>
<ion-item-sliding (ionSwipe)="DeleteElement('PrimaryColour')">
  <ion-item>
    <ion-label>Primary</ion-label>
    <ion-select interface="popover" interface="popover"[(ngModel)]="PrimaryColour" formControlName="PrimaryColour">
 <!--      <ion-option [value]=''>-----</ion-option> -->
      <ion-option *ngFor="let value of PrimColourOptions" [value]="value.id" selected="value.id == PrimaryColour">{{value.ColourName}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('PrimaryColour')">Delete</button>
  </ion-item-options>
</ion-item-sliding>
<ion-item-sliding (ionSwipe)="DeleteElement('SecondaryColour')">
    <ion-item [hidden]="!todo.controls.PrimaryColour.value">
      <ion-label>Secondary</ion-label>
      <ion-select interface="popover" interface="popover" [(ngModel)]="SecondaryColour" formControlName="SecondaryColour">
       <ion-option  *ngFor="let value of SecColourOptions"  [value]="value.id"  selected="value.id == SecondaryColour">{{value.ColourName}}</ion-option>
      </ion-select>
    </ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('SecondaryColour')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

<ion-item-sliding (ionSwipe)="DeleteElement('TertiaryColour')">
    <ion-item [hidden]="!todo.controls.PrimaryColour.value">
      <ion-label>Tertiary</ion-label>
      <ion-select interface="popover" interface="popover" [(ngModel)]="TertiaryColour" formControlName="TertiaryColour">
       <ion-option  *ngFor="let value of TertColourOptions"  [value]="value.id"  selected="value.id == TertiaryColour">{{value.ColourName}}</ion-option>
      </ion-select>
    </ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('TertiaryColour')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

</ion-list>
<ion-list >
<ion-list-header [hidden]="!todo.controls.PrimaryColour.value">
  Inclusions
</ion-list-header>
<ion-item-sliding (ionSwipe)="DeleteElement('PrimaryInclusionCharacter')">
<ion-item [hidden]="!todo.controls.PrimaryColour.value">
  <ion-label>Character</ion-label>
  <ion-select interface="popover" interface="popover"[(ngModel)]="PrimaryInclusionCharacter" formControlName="PrimaryInclusionCharacter">
    <ion-option *ngFor="let value of InclusionOptions" [value]="value.id" selected="value.id == PrimaryInclusionCharacter">{{value.IncCharacterName}}</ion-option>
  </ion-select>
</ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('PrimaryInclusionCharacter')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

<ion-item-sliding (ionSwipe)="DeleteElement('PrimaryInclusionColour')">
<ion-item [hidden]="!todo.controls.PrimaryInclusionCharacter.value">
  <ion-label>Colour</ion-label>
  <ion-select interface="popover" interface="popover"[(ngModel)]="PrimaryInclusionColour" formControlName="PrimaryInclusionColour">
    <ion-option *ngFor="let value of PrimColourOptions" [value]="value.id" selected="value.id == PrimaryInclusionColour">{{value.ColourName}}</ion-option>
  </ion-select>
</ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('PrimaryInclusionColour')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

<br>
<ion-item-sliding (ionSwipe)="DeleteElement('SecondaryInclusionCharacter')">
    <ion-item [hidden]="!todo.controls.PrimaryInclusionCharacter.value">
      <ion-label>Secondary Character</ion-label>
      <ion-select interface="popover" interface="popover" [(ngModel)]="SecondaryInclusionCharacter" formControlName="SecondaryInclusionCharacter">
       <ion-option  *ngFor="let value of InclusionOptions"  [value]="value.id"  selected="value.id == SecondaryInclusionCharacter">{{value.IncCharacterName}}</ion-option>
      </ion-select>
    </ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('SecondaryInclusionCharacter')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

  <ion-item-sliding (ionSwipe)="DeleteElement('SecondaryInclusionColour')">
      <ion-item [hidden]="!todo.controls.SecondaryInclusionCharacter.value">
      <ion-label>Secondary Colour</ion-label>
      <ion-select interface="popover" interface="popover" [(ngModel)]="SecondaryInclusionColour" formControlName="SecondaryInclusionColour">
        <ion-option [value]="null">-----</ion-option>
       <ion-option  *ngFor="let value of PrimColourOptions"  [value]="value.id"  selected="value.id == SecondaryInclusionColour">{{value.ColourName}}</ion-option>
      </ion-select>
    </ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('SecondaryInclusionColour')">Delete</button>
  </ion-item-options>
</ion-item-sliding>


<br>
<ion-item-sliding (ionSwipe)="DeleteElement('TertiaryInclusionCharacter')">
    <ion-item [hidden]="!todo.controls.SecondaryInclusionCharacter.value">
      <ion-label>Tertiary Character</ion-label>
      <ion-select interface="popover" interface="popover" [(ngModel)]="TertiaryInclusionCharacter" formControlName="TertiaryInclusionCharacter">
       <ion-option  *ngFor="let value of InclusionOptions"  [value]="value.id"  selected="value.id == TertiaryInclusionCharacter">{{value.IncCharacterName}}</ion-option>
      </ion-select>
    </ion-item>
      <ion-item [hidden]="!todo.controls.TertiaryInclusionCharacter.value">
      <ion-label>Tertiary Colour</ion-label>
      <ion-select interface="popover" interface="popover" [(ngModel)]="TertiaryInclusionColour" formControlName="TertiaryInclusionColour">
       <ion-option  *ngFor="let value of PrimColourOptions"  [value]="value.id"  selected="value.id == TertiaryInclusionColour">{{value.ColourName}}</ion-option>
      </ion-select>
    </ion-item>
  <ion-item-options>
    <button ion-button expandable (click)="DeleteElement('TertiaryInclusionCharacter')">Delete</button>
  </ion-item-options>
</ion-item-sliding>

</ion-list>

    <button ion-button (click)="postDataLine()" type="submit" >Submit</button>
  </form>
</ion-content>