<!--
  Generated template for the AddprojectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Test pits</ion-title>
  
      <ion-buttons left>
            <button (click)=Navhome() ion-button icon-end>
        Home
        <ion-icon style='font-size: 1.8em' color="secondary" name="arrow-backward"></ion-icon>
      </button>
    </ion-buttons>
<!--   <div color="secondary">
    <p style='border:0;text-align:center'>{{project.ProjectName}}</p>
  </div> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<!--   <ion-card (click)="goAnOtherPage(testpit)" *ngFor="let testpit of dataline">
  <ion-card-header>
    TP{{testpit.Name}}
  </ion-card-header>
</ion-card> -->

  <ion-list inset>
        <ion-list-header>
  {{project.ProjectName}}
</ion-list-header>
    <ion-item-sliding *ngFor="let testpit of dataline">
              <ion-item (click)="goAnOtherPage(testpit,project)">
      TP{{testpit.Name}}
<!--       <button (click)="goAnOtherPage(horizon)" ion-button>Edit Horizon</button>
      <button (click)="showPageModal(horizon)" ion-button>---</button> -->
      </ion-item>
      <ion-item-options side="left">
        <button ion-button (click)="EditTestpit(project,testpit)">edit</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-row style='text-align:center'>
    <ion-col>
      <button (click)="CreateTestPit(project)" ion-button>Create Testpit</button>
    </ion-col>
  </ion-row>
</ion-content>


